{% extends 'base.html' %}
{% load static %}

{% block title %}تم إرسال تعليمات إعادة تعيين كلمة المرور - متجر الهدايا{% endblock %}

{% block content %}
    <div class="account-page">
        <h1>تم إرسال تعليمات إعادة تعيين كلمة المرور</h1>
        <div class="user-auth-section">
            <p>لقد أرسلنا إليك عبر البريد الإلكتروني تعليمات لإعداد كلمة المرور الخاصة بك. إذا لم تتلقَ بريدًا إلكترونيًا، فيرجى التحقق من مجلد البريد العشوائي (spam) الخاص بك.</p>
        </div>
    </div>
{% endblock %} 